<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>335461718945-ojuai4dbm8b16f8r1ejkh847qjunptu3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.335461718945-ojuai4dbm8b16f8r1ejkh847qjunptu3</string>
	<key>API_KEY</key>
	<string>AIzaSyA1G2KTMkrJayosaayb8EDiB4XLcJCzXTY</string>
	<key>GCM_SENDER_ID</key>
	<string>335461718945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.macjam4.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>macjam1</string>
	<key>STORAGE_BUCKET</key>
	<string>macjam1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:335461718945:ios:9eca45b2fe352fe516c9e0</string>
</dict>
</plist>